body {
    padding-top: 50px;
    background-color:lightgray
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.file-upload {
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top:20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

    .file-upload-btn:hover {
        background: #1AA059;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .file-upload-btn:active {
        border: 0;
        transition: all .2s ease;
    }

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

    .drag-text h3 {
        font-weight: 100;
        text-transform: uppercase;
        color: #15824B;
        padding: 60px 0;
    }

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.flex {
    display: flex;
    justify-content: flex-start;
}


    .flex .currency {
        position: absolute;
        margin-top: 6.625px;
        margin-left: 4px;
    }

.profile-nav, .profile-info {
    margin-top: 30px;
}

    .profile-nav .user-heading {
        background: #212529;
        color: #fff;
        border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        padding: 30px;
        text-align: center;
    }

        .profile-nav .user-heading.round a {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            border: 10px solid rgba(255,255,255,0.3);
            display: inline-block;
        }

        .profile-nav .user-heading a img {
            width: 112px;
            height: 112px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
        }

        .profile-nav .user-heading h1 {
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 5px;
        }

        .profile-nav .user-heading p {
            font-size: 12px;
        }

    .profile-nav ul {
        margin-top: 1px;
    }

        .profile-nav ul > li {
            border-bottom: 1px solid #ebeae6;
            margin-top: 0;
            line-height: 30px;
        }

            .profile-nav ul > li:last-child {
                border-bottom: none;
            }

            .profile-nav ul > li > a {
                border-radius: 0;
                -webkit-border-radius: 0;
                color: #89817f;
                border-left: 5px solid #fff;
            }

                .profile-nav ul > li > a:hover, .profile-nav ul > li > a:focus, .profile-nav ul li.active a {
                    background: #f8f7f5 !important;
                    border-left: 5px solid #fbc02d;
                    color: #89817f !important;
                }

            .profile-nav ul > li:last-child > a:last-child {
                border-radius: 0 0 4px 4px;
                -webkit-border-radius: 0 0 4px 4px;
            }

            .profile-nav ul > li > a > i {
                font-size: 16px;
                padding-right: 10px;
                color: #bcb3aa;
            }

.r-activity {
    margin: 6px 0 0;
    font-size: 12px;
}


.p-text-area, .p-text-area:focus {
    border: none;
    font-weight: 300;
    box-shadow: none;
    color: #c3c3c3;
    font-size: 16px;
}

.profile-info .panel-footer {
    background-color: #f8f7f5;
    border-top: 1px solid #e7ebee;
}

    .profile-info .panel-footer ul li a {
        color: #7a7a7a;
    }

.bio-graph-heading {
    background: #fbc02d;
    color: #fff;
    text-align: center;
    font-style: italic;
    padding: 40px 110px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    font-size: 16px;
    font-weight: 300;
}

.bio-graph-info {
    color: #89817e;
}

    .bio-graph-info h1 {
        font-size: 22px;
        font-weight: 300;
        margin: 0 0 20px;
    }

.bio-row {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding: 0 15px;
}

    .bio-row p span {
        width: 100px;
        display: inline-block;
    }

.bio-chart, .bio-desk {
    float: left;
}

.bio-chart {
    width: 40%;
}

.bio-desk {
    width: 60%;
}

    .bio-desk h4 {
        font-size: 15px;
        font-weight: 400;
    }

        .bio-desk h4.terques {
            color: #4CC5CD;
        }

        .bio-desk h4.red {
            color: #e26b7f;
        }

        .bio-desk h4.green {
            color: #97be4b;
        }

        .bio-desk h4.purple {
            color: #caa3da;
        }

.file-pos {
    margin: 6px 0 10px 0;
}

.profile-activity h5 {
    font-weight: 300;
    margin-top: 0;
    color: #c3c3c3;
}

.summary-head {
    background: #ee7272;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #ee7272;
}

    .summary-head h4 {
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .summary-head p {
        color: rgba(255,255,255,0.6);
    }

ul.summary-list {
    display: inline-block;
    padding-left: 0;
    width: 100%;
    margin-bottom: 0;
}

    ul.summary-list > li {
        display: inline-block;
        width: 19.5%;
        text-align: center;
    }

        ul.summary-list > li > a > i {
            display: block;
            font-size: 18px;
            padding-bottom: 5px;
        }

        ul.summary-list > li > a {
            padding: 10px 0;
            display: inline-block;
            color: #818181;
        }

    ul.summary-list > li {
        border-right: 1px solid #eaeaea;
    }

        ul.summary-list > li:last-child {
            border-right: none;
        }

.activity {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

    .activity.alt {
        width: 100%;
        float: right;
        margin-bottom: 10px;
    }

    .activity span {
        float: left;
    }

    .activity.alt span {
        float: right;
    }

    .activity span, .activity.alt span {
        width: 45px;
        height: 45px;
        line-height: 45px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        background: #eee;
        text-align: center;
        color: #fff;
        font-size: 16px;
    }

    .activity.terques span {
        background: #8dd7d6;
    }

    .activity.terques h4 {
        color: #8dd7d6;
    }

    .activity.purple span {
        background: #b984dc;
    }

    .activity.purple h4 {
        color: #b984dc;
    }

    .activity.blue span {
        background: #90b4e6;
    }

    .activity.blue h4 {
        color: #90b4e6;
    }

    .activity.green span {
        background: #aec785;
    }

    .activity.green h4 {
        color: #aec785;
    }

    .activity h4 {
        margin-top: 0;
        font-size: 16px;
    }

    .activity p {
        margin-bottom: 0;
        font-size: 13px;
    }

    .activity .activity-desk i, .activity.alt .activity-desk i {
        float: left;
        font-size: 18px;
        margin-right: 10px;
        color: #bebebe;
    }

    .activity .activity-desk {
        margin-left: 70px;
        position: relative;
    }

    .activity.alt .activity-desk {
        margin-right: 70px;
        position: relative;
    }

        .activity.alt .activity-desk .panel {
            float: right;
            position: relative;
        }

.activity-desk .panel {
    background: #F4F4F4;
    display: inline-block;
}


.activity .activity-desk .arrow {
    border-right: 8px solid #F4F4F4 !important;
}

.activity .activity-desk .arrow {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    display: block;
    height: 0;
    left: -7px;
    position: absolute;
    top: 13px;
    width: 0;
}

.activity-desk .arrow-alt {
    border-left: 8px solid #F4F4F4 !important;
}

.activity-desk .arrow-alt {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    display: block;
    height: 0;
    right: -7px;
    position: absolute;
    top: 13px;
    width: 0;
}

.activity-desk .album {
    display: inline-block;
    margin-top: 10px;
}

    .activity-desk .album a {
        margin-right: 10px;
    }

        .activity-desk .album a:last-child {
            margin-right: 0px;
        }
@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}

@media (min-width: 0) {
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0) {
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

.g-bg-secondary {
    background-color: #fafafa !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #777 !important;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top: 20px
}
.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
}

.jimu-primary-loading:before {
    left: -19.992px;
}

.jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
    background: #076fe5;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
}

.jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

    0%, 80%, 100% {
        opacity: .75;
        box-shadow: 0 0 #076fe5;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #076fe5;
        height: 40px;
    }
}

@keyframes loading-keys-app-loading {

    0%, 80%, 100% {
        opacity: .75;
        box-shadow: 0 0 #076fe5;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #076fe5;
        height: 40px;
    }
}
#toggleSidebarButton {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 999;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px 10px,0px, 10px;
}
.loader {
    --dim: 3rem;
    width: var(--dim);
    height: var(--dim);
    position: relative;
    animation: spin988 2s linear infinite;
}

    .loader .circle {
        --color: #333;
        --dim: 1.2rem;
        width: var(--dim);
        height: var(--dim);
        background-color: var(--color);
        border-radius: 50%;
        position: absolute;
    }

        .loader .circle:nth-child(1) {
            top: 0;
            left: 0;
        }

        .loader .circle:nth-child(2) {
            top: 0;
            right: 0;
        }

        .loader .circle:nth-child(3) {
            bottom: 0;
            left: 0;
        }

        .loader .circle:nth-child(4) {
            bottom: 0;
            right: 0;
        }

@keyframes spin988 {
    0% {
        transform: scale(1) rotate(0);
    }

    20%, 25% {
        transform: scale(1.3) rotate(90deg);
    }

    45%, 50% {
        transform: scale(1) rotate(180deg);
    }

    70%, 75% {
        transform: scale(1.3) rotate(270deg);
    }

    95%, 100% {
        transform: scale(1) rotate(360deg);
    }
}

.sidebar-link > a > span, .sidebar-link > a > i::before {
    color: white;
}

.sidebar-link-active > a > span, .sidebar-link-active > a > i::before {
    color: #198754;
}

.sidebar-link, .sidebar-link-active {
    cursor: pointer;
}

    .sidebar-link > a > span,
    .sidebar-link > a > i::before,
    .sidebar-link-active > a > span,
    .sidebar-link-active > a > i::before {
        transition: transform 0.2s ease-in-out; /* Adding a smooth transition */
    }

    .sidebar-link:hover,
    .sidebar-link-active:hover {
        transform: scale(1.1); /* Increase the size by 10% on hover */
    }

.table-button {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    font-weight: bold;
}
    .table-button:hover {
        transform: scale(1.1);
    }

.delete-button {

    position: absolute !important;
    left:auto;
    right:auto;
    top: 2% !important;
    left : 2% !important;
    text-align: center !important;
    z-index:10;
}
.carousel-control-prev-icon {
    background-image: url("https://img.icons8.com/ios-filled/100/left-squared--v1.png")!important;
}
.carousel-control-next-icon {
    background-image: url("https://img.icons8.com/ios-filled/100/right-squared--v2.png") !important;
}

.sidebar {
    background-color: #f5f5f5; /* Add your desired color */
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar-title {
    color: #333;
    font-size: 18px;
}

.image-container {
    position: relative;
}

.free-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #4caf50; /* Add your desired color */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.category-tags {
    margin-bottom: 20px;
}

.tag-label {
    display: block;
    position: relative;
    margin-bottom: 5px;
}

.tag {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 6px;
}

.tag-label input[type="checkbox"]:checked + .tag {
    background-color: #4caf50; /* Add your desired color */
    border-color: #4caf50;
}

/* Hover effect for images */
.card-styled:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
/* ... Previous styles ... */

.aspect-ratio {
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* Set the aspect ratio (height / width) */
    overflow: hidden;
}

    .aspect-ratio img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Maintain the image aspect ratio and fill the container */
    }
/* ... Previous styles ... */

.top-filter-bar {
    background-color: rgb(33, 37, 41); /* Add your desired color */
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px
}

.filter-title {
    font-size: 18px;
}

.filter-group {
    display: flex;
    gap: 20px;
}

.filter-item {
    position: relative;
}

.filter-dropdown {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.dropdown-menu {
    min-width: auto;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px!important;

}

.dropdown-item {
    padding: 10px 20px;
    color:black;
}

.multiselect-menu {
    min-width: 200px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: auto;
    max-height: 200px; /* Set a max height to prevent overflowing */
}


/* Adjust styles for number inputs and apply button as needed */
.apply-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

    .apply-button:hover {
        background-color: #45a049; /* Slightly darker shade on hover */
    }

.filter-text {
    color: white;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


   