@using Store.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="form-container mt-5" id="formContainer">
    @Html.Partial("_LoginForm", Model)
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/MyScripts/button-loading.js"></script>
}