
@{
    ViewBag.Title = "Sales";
}



<style>
    #parentContainer {
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important
           
    }
</style>


    <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">                     
                        @*TODO: Change icons*@
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" onclick="updateView(0)">
                                    <i class="bi bi-arrow-up-right text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Daily Chart</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" onclick="updateView(1)">
                                    <i class="bi bi-bar-chart-fill text-white" ></i> <span class="ms-1 d-none d-sm-inline text-white">Monthly Chart</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" onclick="updateView(2)">
                                    <i class="bi bi-table text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Last Sales</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" onclick="updateView(3)">
                                    <i class="bi bi-safe text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">My Publications</span>
                                </a>
                            </li>

                        </ul>
                        <hr>
                    </div>
                </div>

                @*----------------------------------------------------------------------------------------------------------------------------------------------------------*@                           
            <div class="col">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#sidenavAccordion" aria-expanded="false" aria-controls="sidenavAccordion">
                            Accordion Item #1
                        </button>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        @*Dayly chart*@
                        <div id="daily-chart-container">
                            <div class="row">
                                <div class="col-xl-6 col-md-12">
                                    <div class="card bg-primary text-white mb-4">
                                        <div class="card-body">Number of Sales:<span id="DailySalesCount"></span></div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="#">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-12">
                                    <div class="card bg-warning text-white mb-4">
                                        <div class="card-body">Total Amount:<span id="DailySalesAmount"></span></div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="#">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <i class="fas fa-chart-area me-1"></i>
                                            By Days Chart
                                            <input type="text" class="form-control" name="datepickermonth" id="datepickermonth" style="display:block" />
                                        </div>

                                        <div class="card-body" id="area-chart"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Monthly Chart*@
                        <div id="monthly-chart-container" style="display:none">
                        </div>
                        @*Recent Sales*@
                        <div id="recent-sales-table-container" style="display: none">
                        </div>
                        @*Publications*@
                        <div id="publications-table-container" style="display: none">
                        </div>




                    </div>
                    </main>
            </div>
                </div>
            </div>
                
        @section Scripts{
            <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
            <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
            <script src="~/Scripts/dashboard_scripts.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
            <script src="~/Content/Assets/demo/chart-area-demo.js"></script>
            <script src="~/Content/Assets/demo/chart-bar-demo.js"></script>
            <script src="~/Content/Assets/demo/datatables-demo.js"></script>
            <script src="~/Content/Assets/demo/publication-datatable.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
            <script src="~/Scripts/datatables-simple-demo.js"></script>
            <script src="~/MyScripts/container_controller.js"></script>
            <script src="~/Scripts/yearpicker.js"></script>
            <script src="~/MyScripts/toggle_sidebar.js"></script>
        }

