@model Models.PublicationsListViewModel

@{
    var link = "";
}
@foreach (var item in Model.List)
{
    link = Url.Action("View", "Publication", new { id = item.id });
    <div class="col-md-4 mb-4">
        <div class="card">
            <a href="@link">
                <div class="image-container">
                    <div class="aspect-ratio">
                        <img src="@item.headerPath" class="card-img-top" alt="Image">
                    </div>
                    @if (item.Price == 0)
                    {
                        <span class="free-tag">Free</span>
                    }
                </div>
            </a>
        </div>
    </div>
}





<div class="w3-center w3-padding-32">
    <div class="w3-bar">
        @{ @*Pagging Widget*@

        int count;
        int startNumber;
        startNumber = (int)TempData["ActualPage"];

        double decimalDivision = (double)((int)TempData["Count"]) / 9;
        int naturalDivision = (int)TempData["Count"] / 9;
        if (naturalDivision == decimalDivision)

        {
            count = naturalDivision;
        }
        else
        {
            count = naturalDivision + 1;
        }
        if ((int)TempData["ActualPage"] != 1 && count - startNumber >= 4)
        {
            startNumber -= 1;
        }
        if (count - startNumber < 4 && (int)TempData["ActualPage"] != 1)
        {
            int temp = 5 - (count - startNumber);
            for (int j = 0; j < temp; j++)
            {

                startNumber -= 1;
                if (startNumber == 1) { break; }

            }
        }
        for (int i = startNumber; i <= count; i++)
        {
            if (i <= startNumber + 5 || i == count)
            {
                if (i == count && i >= startNumber + 5)
                {
                    <a class="w3-bar-item" style="text-decoration:none">...</a>
                }
                if (i == (int)TempData["ActualPage"])
                {

                    @Ajax.ActionLink(i.ToString(), "ChangePage", "Publication", new { actualPage = i }, new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET",
                   UpdateTargetId = "PublicationsList",
                   OnBegin = "setGif",
               }, new { @class = "w3-bar-item w3-black w3-button", @style = "color:white; text-decoration:none" })

                }
                else
                {

                    @Ajax.ActionLink(i.ToString(), "ChangePage", "Publication", new { actualPage = i }, new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET",
                   UpdateTargetId = "PublicationsList",
                   OnBegin = "setGif",
               }, new { @class = "w3-bar-item w3-button w3-hover-black", @style = "color:black; margin-left: 3px" })

                }
            }
        }
        }
    </div>
</div>
@section Scripts{

}
